:root {
    --primario: #784D3C;
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris: #e1e1e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* Utilidades */
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    background-image: url(banner.webp);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.barra {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--blanco);
}

.logo h1 {
    font-size: 2.2rem;
}

.logo-bold {
    font-weight: 700;
}




