:root {
    --primario: #784D3C;
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris: #e1e1e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* Utilidades */
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

